In [1]:
import pandas as pd
import numpy as np

In [2]:
#1
list_data = [10, 20, 30]
array_data = np.array([40, 50, 60])
dict_data = {'a': 70, 'b': 80, 'c': 90}

series_from_list = pd.Series(list_data)
series_from_array = pd.Series(array_data)
series_from_dict = pd.Series(dict_data)

In [3]:
#2
custom_index_series = pd.Series(list_data, index=['x', 'y', 'z'])

In [4]:
#3
series_sum = series_from_list + series_from_array
series_product = series_from_list * 2

In [5]:
#4
element_by_label = custom_index_series['y']
element_by_position = custom_index_series.iloc[1]

In [6]:
#5
filtered_series = custom_index_series[custom_index_series > 15]

In [7]:
#6
data = {
    'Name': ['Jawad', 'Ahmed', 'Jamali'],
    'Age': [25, 30, 35],
    'City': ['Hyd', 'Hala', 'Badin']
}
df_from_dict = pd.DataFrame(data)

In [8]:
#7
array_data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df_from_array = pd.DataFrame(array_data, columns=['A', 'B', 'C'], index=['row1', 'row2', 'row3'])

In [9]:
#8
import seaborn as sns
df_from_csv = sns.load_dataset('titanic')

# OR we can also
# df_from_csv = pd.read_csv('your_file.csv')

In [10]:
#9
print("First five rows:\n", df_from_dict.head())
print("Last five rows:\n", df_from_dict.tail())

First five rows:
      Name  Age   City
0   Jawad   25    Hyd
1   Ahmed   30   Hala
2  Jamali   35  Badin
Last five rows:
      Name  Age   City
0   Jawad   25    Hyd
1   Ahmed   30   Hala
2  Jamali   35  Badin

In [11]:
#10
summary = df_from_dict.describe()
mean_values = df_from_dict.mean(numeric_only=True)
median_values = df_from_dict.median(numeric_only=True)
std_dev = df_from_dict.std(numeric_only=True)

print("Summary:\n", summary)
print("Mean values:\n", mean_values)
print("Median values:\n", median_values)
print("Standard deviation:\n", std_dev)

Summary:
         Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
Mean values:
 Age    30.0
dtype: float64
Median values:
 Age    30.0
dtype: float64
Standard deviation:
 Age    5.0
dtype: float64

In [12]:
#11
age_series = df_from_dict['Age']

In [13]:
#12
filtered_df = df_from_dict[df_from_dict['Age'] > 28]

In [14]:
#13
multiple_conditions_df = df_from_dict[(df_from_dict['Age'] > 28) & (df_from_dict['City'] == 'Los Angeles')]

In [15]:
#14
df_from_dict['Salary'] = [50000, 60000, 70000]

In [16]:
#15
df_from_dict = df_from_dict.drop('Salary', axis=1)

In [17]:
#16
df_from_dict = df_from_dict.rename(columns={'Name': 'Full Name', 'Age': 'Years'})

print("Updated DataFrame:\n", df_from_dict)

Updated DataFrame:
   Full Name  Years   City
0     Jawad     25    Hyd
1     Ahmed     30   Hala
2    Jamali     35  Badin